* {
  image-rendering: optimizespeed; /* stop smoothing, give me speed  */
  image-rendering: -moz-crisp-edges; /* firefox                        */
  image-rendering: -o-crisp-edges; /* opera                          */
  image-rendering: -webkit-optimize-contrast; /* chrome (and eventually safari) */
  image-rendering: pixelated; /* universal support since 2021   */
  image-rendering: optimize-contrast; /* css3 proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* ie8+                           */
}
#game {
  /* esto quita el antialiasing */
}

span {
  color: white;
  size: 100px;
}

body {
  /* background-color: black; */
  animation: glitch 10s ease-in-out infinite;
  background: url("background.gif") no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5px, 5px);
  }
  20% {
    transform: translate(5px, -5px);
  }
  30% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  60% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(5px, -5px);
  }
  80% {
    transform: translate(-5px, 5px);
  }
  90% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}
